@import "_variables"

@import "reset.css"
@import "_partial/header"
@import "_partial/sidebar"
@import "_partial/article"

/*body::-webkit-scrollbar*/
  /*width: 3px*/
/*body::-webkit-scrollbar-thumb*/
  /*background-color: color-highlight*/
  /*border-radius: 8px*/

#main
  float: left
  /*width: 63%*/
  position: fixed
  top: 66px
  bottom: 0
  right: 0
  left: 65px
  overflow-y: auto
  overflow-x: hidden
  /*margin-top: 57px*/
  margin-left: 24%
  padding-top: 27px
  padding-right: 14%

  .article-pagination
    margin: 30px 0
    font-size: 12px
    height: 12px
    a
      text-decoration: none
      color: #999
      font-weight: bold
      &:hover
        color: color-highlight
    .article-next
      float: right

  &\:\:-webkit-scrollbar
    width: 3px
  &\:\:-webkit-scrollbar-thumb
    background-color: color-highlight
    border-radius: 8px